---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <MY_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 429
      message: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be76a2686cf48e89fe11bbb519083615"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 25 Aug 2020 19:11:33 GMT
[...]
- request:
    method: get
    uri: https://api.storyblok.com/v1/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <MY_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be76a2686cf48e89fe11bbb519083615"
    body:
      encoding: UTF-8
      string: '{"spaces":[{"name":"Clean Space","id":91322,"euid":null,"owner_id":"<OWNER_ID_INTEGER>"},{"name":"blog_space","id":91112,"euid":null,"owner_id":"<OWNER_ID_INTEGER>"},{"name":"My
        beta Space","id":88422,"euid":"","owner_id":"<OWNER_ID_INTEGER>"},{"name":"My new Space","id":86092,"euid":null,"owner_id":"<OWNER_ID_INTEGER>"},{"name":"Your
        demo space","id":85563,"euid":null,"owner_id":"<OWNER_ID_INTEGER>"}]}'
  recorded_at: Tue, 25 Aug 2020 19:22:43 GMT
recorded_with: VCR 6.0.0
