---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v2/cdn/stories/simple_content?cv=0&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.storyblok.com/v2/cdn/stories/simple_content?cv=1636661769&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://api.storyblok.com/v2/cdn/stories/simple_content?cv=1636661769&amp;token=<SPACE_PUBLIC_TOKEN>&amp;version=published">redirected</a>.</body></html>
  recorded_at: Thu, 11 Nov 2021 20:16:56 GMT
- request:
    method: get
    uri: https://api.storyblok.com/v2/cdn/stories/simple_content?cv=1636661769&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f702acccd5633995dc20c845a31f170"
    body:
      encoding: UTF-8
      string: '{"story":{"name":"simple_content","created_at":"2020-08-20T18:01:55.065Z","published_at":"2021-11-11T20:16:01.847Z","id":18409805,"uuid":"fe520269-b092-482c-94c4-8028eb81af41","content":{"_uid":"ae111a76-84b7-43cc-a6a0-77a70de1b6f4","component":"SimpleTextContentType","SimpleText":"Simple
        Content from a Simple Text PUBLISHED VERSION"},"slug":"simple_content","full_slug":"simple_content","sort_by_date":null,"position":0,"tag_list":["tag_out_of_any_folder"],"is_startpage":false,"parent_id":0,"meta_data":null,"group_id":"f905f0f0-569e-4036-bcef-1479e5088956","first_published_at":"2020-08-20T18:03:33.000Z","release_id":null,"lang":"default","path":null,"alternates":[],"default_full_slug":null,"translated_slugs":null},"cv":1636661769,"rels":[],"links":[]}'
  recorded_at: Thu, 11 Nov 2021 20:16:57 GMT
recorded_with: VCR 6.0.0
