---
http_interactions:
- request:
    method: put
    uri: https://api.storyblok.com/v1/spaces/91322/stories/18670449
    body:
      encoding: UTF-8
      string: story[name]=my+awesome+updated+story
    headers:
      Authorization:
      - <MY_PERSONAL_ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a70f22a5ccbd389d2e0644db137130d8"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"story":{"name":"my awesome updated story","parent_id":0,"group_id":"7a015f0b-1585-4e17-8f32-adf2755087bb","alternates":[],"created_at":"2020-08-25T16:23:38.022Z","sort_by_date":null,"tag_list":[],"updated_at":"2020-08-25T18:03:04.115Z","published_at":null,"id":18670449,"uuid":"defee8f9-0704-4855-aebc-6d37908297ea","is_folder":false,"content":{"_uid":"fa221d61-73ba-4435-82a9-26ac1cf4bf11","body":[],"component":"root"},"published":false,"slug":"my-awesome-new-story","path":null,"full_slug":"my-awesome-new-story","default_root":null,"disble_fe_editor":false,"parent":null,"is_startpage":false,"unpublished_changes":true,"meta_data":null,"imported_at":null,"preview_token":{"token":"d5681a1d0e5d798582a0e6ed791c6bfa1f618e54","timestamp":"1598378584"},"pinned":false,"breadcrumbs":[],"publish_at":null,"expire_at":null,"first_published_at":null,"last_author":{"id":"<OWNER_ID_INTEGER>","userid":"<MY_USER_EMAIL>","friendly_name":"<MY_USER_EMAIL>"},"user_ids":[],"space_role_ids":[],"translated_slugs":[],"localized_paths":[],"position":-20,"translated_stories":[],"can_not_view":null}}'
  recorded_at: Tue, 25 Aug 2020 18:03:04 GMT
recorded_with: VCR 6.0.0
