---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/links?cv=1597960900&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ffcb393faa366a195b540b2bc5d47f09"
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"4b069560-749d-4f2b-8304-97a2a465fb49":{"id":18409847,"slug":"my-folder-slug/simple_content_2","name":"simple_content_2","is_folder":false,"parent_id":18409844,"published":true,"position":-10,"uuid":"4b069560-749d-4f2b-8304-97a2a465fb49","is_startpage":false,"real_path":"/my-folder-slug/simple_content_2"},"73330f5f-5dc9-4876-90c6-8ef0f21252a0":{"id":18409844,"slug":"my-folder-slug","name":"my_folder_name","is_folder":true,"parent_id":0,"published":false,"position":-10,"uuid":"73330f5f-5dc9-4876-90c6-8ef0f21252a0","is_startpage":false,"real_path":"/my-folder-slug"},"542e19cc-ff06-4f19-ae64-a725c89e3406":{"id":18409845,"slug":"my-folder-slug/simple_content_1","name":"simple_content_1","is_folder":false,"parent_id":18409844,"published":true,"position":0,"uuid":"542e19cc-ff06-4f19-ae64-a725c89e3406","is_startpage":false,"real_path":"/my-folder-slug/simple_content_1"},"fe520269-b092-482c-94c4-8028eb81af41":{"id":18409805,"slug":"simple_content","name":"simple_content","is_folder":false,"parent_id":0,"published":true,"position":0,"uuid":"fe520269-b092-482c-94c4-8028eb81af41","is_startpage":false,"real_path":"/simple_content"}}}'
  recorded_at: Thu, 20 Aug 2020 22:01:47 GMT
recorded_with: VCR 6.0.0
