---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/spaces/me?cv=1598026697&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dcf2a3b740affacd7f577bf99be913eb"
    body:
      encoding: UTF-8
      string: '{"space":{"id":91322,"name":"My Cool Space","domain":"https://quickstart.me.storyblok.com/","version":1597954133,"language_codes":[]}}'
  recorded_at: Fri, 21 Aug 2020 16:18:19 GMT
recorded_with: VCR 6.0.0
