---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/datasource_entries?cv=1597960900&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22d8a03a7021f4dfb5b655f0f4f0dfc1"
      Per-Page:
      - '25'
      Total:
      - '2'
    body:
      encoding: UTF-8
      string: '{"datasource_entries":[{"id":404023,"name":"key_1","value":"value_1","dimension_value":null},{"id":404024,"name":"key_2","value":"value_2","dimension_value":null}]}'
  recorded_at: Thu, 20 Aug 2020 22:01:46 GMT
recorded_with: VCR 6.0.0
