---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/datasources?cv=1598032779&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92a67d7437608797b8480ffd2a7ab9b4"
      Per-Page:
      - '25'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"datasources":[{"id":23537,"name":"my_datasource","slug":"my-datasource-slug","dimensions":[]}]}'
  recorded_at: Fri, 21 Aug 2020 17:59:43 GMT
recorded_with: VCR 6.0.0
