---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/tags?cv=0&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c15771c638ba6aba86aef723d86c6bd7"
    body:
      encoding: UTF-8
      string: '{"tags":[{"name":"my another tag","taggings_count":1},{"name":"my first
        tag","taggings_count":1}]}'
  recorded_at: Wed, 26 Aug 2020 17:53:42 GMT
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/spaces/me?cv=0&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef3b813279af71b6f6332628e093336d"
    body:
      encoding: UTF-8
      string: '{"space":{"id":91322,"name":"Clean Space","domain":"https://quickstart.me.storyblok.com/","version":1598450511,"language_codes":[]}}'
  recorded_at: Wed, 26 Aug 2020 17:53:43 GMT
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/tags?cv=1598450511&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c15771c638ba6aba86aef723d86c6bd7"
    body:
      encoding: UTF-8
      string: '{"tags":[{"name":"my another tag","taggings_count":1},{"name":"my first
        tag","taggings_count":1}]}'
  recorded_at: Wed, 26 Aug 2020 17:53:44 GMT
recorded_with: VCR 6.0.0
