---
http_interactions:
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/tags?cv=1598385378&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80450524d9d5e5dff8c98ef7311adc86"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 25 Aug 2020 19:56:19 GMT
[...]
- request:
    method: get
    uri: https://api.storyblok.com/v1/cdn/tags?cv=1598385466&token=<SPACE_PUBLIC_TOKEN>&version=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80450524d9d5e5dff8c98ef7311adc86"
    body:
      encoding: UTF-8
      string: '{"tags":[{"name":"my another tag","taggings_count":1},{"name":"my first
        tag","taggings_count":1}]}'
  recorded_at: Tue, 25 Aug 2020 19:57:48 GMT
recorded_with: VCR 6.0.0
