# This is a basic workflow to help you get started with Actions

name: Rspec

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'

    # Runs a single command using the runners shell
    - name: Install development/test dependencies
      run: |
        gem install bundler:1.17.2
        bundle

    # Runs a set of commands using the runners shell
    - name: Run Rspec
      run: COVERAGE=true rspec --tag ~redis_cache:true
